**/__pycache__/
/robots/
/rl_coppelia/retrain.py
results/*
configs/*
!configs/params_default_file.json
!configs/params_default_file_burgerBot.json
!configs/params_default_file_turtleBot.json

src/rl_coppelia.egg-info/
.vscode/
tmp/*

requirements (copy).txt
requirements.txt.save
requirements copy 2.txt
scenes/*
!scenes/burgerBot_scene.ttt
!scenes/turtleBot_scene.ttt

src/plugins/*
!src/plugins/agents/__init__.py
!src/plugins/envs/__init__.py

src/test_program.py
src/common/clean_test_records.py
