**/__pycache__/
/robots/
/rl_coppelia/retrain.py
results/*
configs/*
!configs/params_default_file.json
!configs/params_default_file_burger.json
!configs/params_default_file_turtle.json

src/rl_coppelia.egg-info/
.vscode/
dependencies/rl_spin_decoupler
tmp/*

requirements (copy).txt
requirements.txt.save
requirements copy 2.txt
scenes/burgerBot_scene_old.ttt
scenes/burgerBotReal_scene (copy).ttt
scenes/burgerBot_scene_backup.ttt
scenes/burgerBot_scene.zip
scenes/burgerBot3_scene.ttt
scenes/scene_notes.txt
scenes/turtleBot_scene_backup_251002.ttt
scenes/turtleBot_scene_backup_251010.ttt
